@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/*************** STYLE NAV *************/


header {
    border-bottom: 1px solid black;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    margin: auto;
}

#logo {
    display: flex;
    padding: 10px;
    width: 33%;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#logo p {
    margin-left: 10px;
    color: #df4937 ;
    font-weight: bold;
}

#logo img {
    width: 75px;
}

#menu {
    display: flex;
    justify-content: space-around;
    width: 33%;
    margin: auto;
    text-transform: uppercase;
}

#nav {
    width: 33%;
}

#nav div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.button-home {
    padding: 10px;
    margin: 10px 5px;
    background-color: #df4937 ;
    color: white;
    border-radius: 5px;
    border: 1px solid #df4937;
}

.button-home:hover {
    background-color: white;
    color: black;
}

header a {
    text-decoration: none;
    color: black;
}

#profil {
    background-color:none !important;
    color: #df4937 !important;
    border: none !important;
     font-weight: 700;
}

#profil:hover {
    font-size: 20px;
}

/************** STYLE HOMEPAGE *******************/

#container_zone_flot {
    min-height: 88vh;
    background-image: url(./../image/imports/zone_flot.jpg);
    display: flex;
    flex-direction: column;
    
    justify-content: space-around;
    background-repeat: no-repeat;
    background-size: cover;
}

#container_zone_flot h1 {
    width: 25%;
    margin-left: 250px;
    letter-spacing: 2px;
    font-size: 30px;
}
#container_zone_flot h1 span {
    color: white;
    text-transform: uppercase;
    text-shadow:2px 2px 3px  #df4937;
}
#container_zone_flot a {
    width: 15%;
    margin-left: 250px;
    letter-spacing: 2px;
    font-size: 20px;
    background-color: white;
    color: #df4937;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    padding: 20px 10px;
    text-align: center;
    border: 1px solid #df4937;
    border-radius: 10px;
}
#container_zone_flot a:hover {
    background-color: #df4937;
    color: rgb(255, 255, 255);
}

#container_projet {
    max-width: 1240px;
    margin: 50px auto;
    
}

#container_projet div {
    display: flex;
    padding: 25px;
    justify-content: space-between;
    align-items: center;
}

#container_projet figure {
    width: 50%;
}
#container_projet img {
    width: 400px;
}
#container_projet p {
    padding: 30px;
}

/*************** STYLE FOOTER *****************/

footer {
    margin-top: 100px;
    background-color: #eeeeee;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer a {
    text-decoration: none;
}

footer p {
    color: #df4937;
    
}



/***************** STYLE REGISTER ****************/


#register {
    width: 50%;
    margin: auto;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
}

#inputs {
    display: flex;
    justify-content: space-around;
}

#inputs div {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

#inputs div p {
    width: 75%;
    margin: auto;
    padding: 5px;
}

#inputs input {
    width: 75%;
    margin: 10px auto;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 5px;
}

#h1_register {
    text-align: center;
    color: #df4937;
    font-weight: 700;
    margin: 25px;
}

#select p {
    width: 75%;
    margin: auto;
    text-align: center;
    margin-top: 30px;
    
}

#select span {
    color: #df4937;
    font-weight: 700;
}

.options {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;
}

.options select {
    width: 40%;
    padding: 5px;
    margin-top: 10px;
}

.options label {
    margin-top: 15px;
    font-size: 15px;
}

#submit_register {
    width: 35%;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    
}

#submit_register input {
    width: 50%;
    margin: auto;
    padding: 12px;
    background-color: #df4937;
    color: white;
    border: 1px solid #df4937;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}

#submit_register input:hover {
    background-color: white;
    color: black;
}

.erreur {
    width: 75%;
    margin: auto;
    color: #df4937;
    font-size: 12px;
}


/***************** STYLE CONNEXION  ****************/


#login {
    width: 30%;
    margin: auto;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    margin-top: 100px;
    
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
    padding: 20px;
}

#h1_login {
    text-align: center;
    color: #df4937;
    font-weight: 700;
    margin: 25px;
}

#login div {
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#login p {
    margin-top: 15px;
    text-align: center;
}

#login div input {
    margin-top: 10px;
    height: 30px;
    padding: 5px;
    border: none;
    border-radius: 5px;
}


#submit_login {
    width: 30%;
    margin: 50px auto;
    padding: 12px;
    background-color: #df4937;
    color: white;
    border: 1px solid #df4937;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;

}

#submit_login:hover {
    background-color: white;
    color: black;
}


/************** STYLE PAGE FORUM ****************/


#container_title {
    max-width: 1240px;
    margin: 50px auto;
}

#container_title h1 {
    color: #df4937;
    font-weight: bold;
    text-align: center;
    padding: 25px;
}

#container_title p {
    letter-spacing: 3px;
    font-weight: 400;
    padding: 20px;
}

#container_content {
    max-width: 1240px;
    margin: 50px auto;
    padding: 20px;
}

#content_title {
    display: flex;
    border: 2px solid black;
    
}

#content_title div {
    text-align: center;
}

#content_title p {
    color: #df4937;
    font-weight: bold;
}

.content_data {
    display: flex;
    border: 1px solid black;
    background-color: #eeeeee;
}

.content_data a {
    color: black;
    text-decoration: none;
}

.subject {
    width: 75%;
    padding: 20px;
    border-right: 1px solid black;
}

.content_data .subject:hover {
    background-color: #df4937;
    color: white;
    cursor: pointer;
}

.count {
    width: 25%;
    padding: 20px;
    text-align: center;
}


/**************** STYLE TOPICS  *************/


#h1_forum {
    text-align: center;
    color: #df4937;
    margin: 50px;
}

#form_post {
    width: 40%;
    margin: 25px auto;
    background-color: #eeeeee;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    padding: 30px;
}

#form_post h2 {
    text-align: center;
    padding: 15px;
}

.inputs_post {
    width: 60%;
    margin: 10px 0px;
    padding: 10px;
}



#button_post {
    width: 25%;
    margin: 30px auto 15px auto;
    padding: 15px;
    background-color: #df4937;
    border: 1px solid #df4937;
    color: white;
    font-size: 15px;
    border-radius: 10px;
}

#button_post:hover {
    background-color: white;
    color: black;
}

#container_soustopic {
    max-width: 1240px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    
}

#h2_soustopic {
    text-align: center;
    padding: 15px;

}

.soustopic {
    width: 20%;
    background-color: #eeeeee;
    margin: 25px;
    padding: 15px;
    min-height: 300px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    position: relative;  
}


.soustopic a {
    position: absolute;
    bottom: 0;
    right: 0%;
    text-decoration: none;
    background-color: #df4937;
    color: white;
    padding: 10px;
    border-radius: 10px 0 0 0;
    border: 1px solid #df4937;
}

.soustopic a:hover{
    background-color: white;
    color: #df4937;
}

.date_soustopic {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    font-size: 12px;
}

.question {
    margin-top: 15px;
}


/**************** STYLE DISCUSSION *******************/

.container_discussion {
    max-width: 1240px;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    margin-top: 50px;
    padding: 20px;
}

.container_discussion h1{
    color: #df4937;
}

.container_discussion img {
    width: 100px;
    border-radius: 25px;
    padding: 10px;
}

#img_pseudo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#flex_image{
    display: flex;
    align-items: center;
    
}

#question_felin {
    font-size: 22px;
    margin-top: 15px;
}

.container_comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image_pseudo_comment {
    display: flex;
    align-items: center;
    
}


.comment_reponse {
    font-size: 18px;
}

.comment_pseudo {
    color: #df4937;
    font-weight: bold;
    font-size: 18px;
}

#form_comment {
    max-width: 1240px;
    margin: auto;
    background-color: #eeeeee;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#form_comment textarea {
    width: 50%;
    margin-top: 20px;
    padding: 20px;
}

#form_comment input {
    width: 15%;
    margin-top: 20px;
    background-color: #df4937;
    border: 1px solid #df4937;
    color: white;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
}

#form_comment input:hover {
    background-color: #ffffff;
    color: #df4937;  
}


/******************** STYLE PROFIL ****************/

.container-modif {
    width: 1240px;
    margin:  auto;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.form-modif {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    width: 30%;
    padding: 15px;
    background-color: #f7f7f7;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    
}
.container-modif h2 {
    font-size: 18px;
    text-align: center;
    padding: 15px 0 0 0;
}

.form-modif p {
    font-size: 15px;
    text-align: center;
    padding-top: 15px;
   
}

.form-modif div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-modif div input {
   
   width: 70%;
   margin: auto;
   margin-top: 15px;
   padding-left: 10px;
   padding: 5px 10px;
   border: none;
   color: grey;
}

.retourmodif {
    text-align: center;
    font-size: 10px;
    color: #df4937;
    position: absolute;
    top:35px;    
    
}
.relative {
    position: relative;
}

.modifier-info {
    position: relative;
    bottom: 0;
    margin-top: 15px !important;
    width: 50% !important;
    margin: auto;
    padding: 10px !important;
    background-color: #df4937 !important;
    border: 1px solid white !important;
    color: white !important;
    border: 1px solid #df4937 !important;
}

.modifier-info1 {
    position: relative;
    bottom: -51px;
    margin-top: 15px !important;
    width: 50% !important;
    margin: auto;
    padding: 10px !important;
    background-color: #df4937 !important;
    border: 1px solid white !important;
    color: white !important;
    border: 1px solid #df4937 !important;
   
}

.modifier-info:hover {
    background-color: white !important;
    color: #df4937 !important;
    
}

.modifier-info1:hover {
    background-color: white !important;
    color: #df4937 !important;
}

/**************** STYLE PROFIL SUPPRESSION COMMENT ET TOPICS **************/ 


.container_suppr {
    max-width: 1240px;
    margin: 50px auto;
    padding: 20px;
}

.suppr {
    margin-top: 25px;
}

.suppr_topic {
    background-color: #eeeeee;
    padding: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.suppr_topic p span {
    font-size: 17px;
}

.suppr_topic p:first-child {
    color: #df4937;
    font-weight: bold;
}

.suppr_topic a {
    
    background-color: #ffffff;
    text-decoration: none;
    border: 1px solid #df4937;
    padding: 5px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
}

.suppr_topic a:hover{
    background-color: #df4937;
    color: black;
}

.suppr_topic :nth-child(2) {
    margin-bottom: 15px;
}





